ul {
	list-style: none;
	-webkit-padding-start: 0px;
}

li {
	font-family: 'Work Sans', sans-serif;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-size: 15px;
	display: inline;
}


/*NAVBAR*/
.navbar-default .navbar-nav>li>a {
	color: #2a8566;
}

.dropdown-menu>li>a {
	color: #2a8566;
}

.navbar-default {
	background-color: #aecbb9;
	border-color: #2a8566;
}

.navbar-default .navbar-brand {
	color: #2a8566
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #aecbb9;
}

.dropdown-menu {
	background-color: #aecbb9;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: white;
}

.navbar-nav>.open>a:hover {
	color: #2a8566;
	background-color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	color: #2a8566;
	background-color: white;
}



.container {
	text-align: center;
}

h1 {
	text-align: left;
	font-family: 'Parisienne', cursive;
	font-size: 50px;
	color: #2a8566;
}

p {
	/*font-family: 'Merriweather', serif;*/
	font-family: 'Cardo', serif;
	/*font-family: 'EB Garamond', serif;*/
	font-size: 16px;
}

.title {
	margin-top: 40px;
	text-align: center;
	font-size: 50px;
}

.story {
	/*background-color: #c5a5a3;*/
	background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
	background-size: cover;
	opacity: .5;
	border: 10px solid #b07786;
	color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 40px;
}

.thanks {
	margin-top: 40px;
	margin-bottom: 40px;
}

.img-responsive {
	text-align: center;
}

.col-xs-12 {
	padding-bottom: 15px;
	text-align: center;
}

.navbar-brand {
	/*font-family: 'Parisienne', cursive;*/
}

.photo-div {
	margin-top: 40px;
}

.img-thumbnail {
	/*height: 200px;*/
	/*width: 300px;*/
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, 
.thumbnail a>img, .thumbnail>img {
	display: inline;
}




/*grid gallery*/
/*.grid {
    border: 1px solid #cccccc;
    list-style: none;
    background: #ffffff;
    box-sizing: border-box;
    -moz-box-sizing : border-box;
    -webkit-transition: all 0.6s ease-out; 
    transition: all 0.6s ease-out; 
}
.grid-img {
    width: 100%;
    vertical-align: middle;
    -webkit-transition: opacity 0.6s ease-out;  
    transition: opacity 0.6s ease-out;
    background-color: #fff;
    opacity: 0; 
    visibility: hidden;
}
 
.grid-img.img-loaded{
    visibility: visible;
    opacity: 1;
}*/





@media only screen and (min-width: 1000px) {
	.img-thumbnail {
		height: 250px !important;
	}
	.story {
		/*background-color: #c5a5a3;*/
	background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
	background-size: cover;
	opacity: .5;
	border: 10px solid #b07786;
	color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 70px;
	}
}

@media only screen and (min-width: 869px) and (max-width: 999px) {
	.img-thumbnail {
		height: 240px !important;
	}
}

@media only screen and (min-width: 769px) and (max-width: 868px) {
	.img-thumbnail {
		height: 235px !important;
	}
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
	.img-thumbnail {
		width: 575px !important;
	}
}

@media only screen and (min-width: 569px) and (max-width: 640px) {
	.img-thumbail {
		width: 425px !important;
	}
}

@media only screen and (min-width: 481px) and (max-width: 568px) {
	.img-thumbnail {
		width: 425px !important;
	}
	.story {
	background-image: url("/images/Kendall+Greg(TheStory)289.jpg");
	background-size: cover;
	opacity: .5;
	border: 10px solid #b07786;
	color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 40px;
}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.img-thumbnail {
		width: 300px !important;
	}

@media only screen and (max-width : 320px) {
	.img-thumbnail {
		width: 300px !important;
	}
}



