ul {
	list-style: none;
	-webkit-padding-start: 0px;
}

li {
	font-family: 'Work Sans', sans-serif;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-size: 15px;
	display: inline;
}



/*NAVBAR*/
.navbar-default .navbar-nav>li>a {
	color: #2a8566;
}

/*.dropdown-menu>li>a {
	color: #2a8566;
}*/

.navbar-default {
	background-color: #aecbb9;
	border-color: #2a8566;
}

.navbar-default .navbar-brand {
	color: #2a8566
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #aecbb9;
}

.dropdown-menu {
	background-color: #aecbb9;
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #2a8566;
	/*background-color: white;*/
}

.navbar-default .navbar-nav .open .dropdown-menu>li>a:hover, 
.navbar-default .navbar-nav .open .dropdown-menu>li>a:focus {
	color: #dfa69f;
	background-color: white;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: white;
	color: #dfa69f;
}

.navbar-nav>.open>a:hover {
	color: #dfa69f;
	background-color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	color: #dfa69f;
	background-color: white;
}

.navbar-default .navbar-toggle {
		border-color: #dfa69f;;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #dfa69f;
}

.dropdown-toggle .dropdown-menu>li>a:focus, .dropdown-menu>li>a:hover {
	color: #dfa69f;
	background-color: white;	
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
	background-color: white;
	color: #dfa69f;
}






.container {
	text-align: center;
}

h1 {
	text-align: left;
	font-family: 'Parisienne', cursive;
	font-size: 50px;
	color: #2a8566;
}

p {
	/*font-family: 'Merriweather', serif;*/
	font-family: 'Cardo', serif;
	/*font-family: 'EB Garamond', serif;*/
	font-size: 16px;
}

.title {
	margin-top: 40px;
	text-align: center;
	font-size: 50px;
}

.story {
	/*background-color: #c5a5a3;*/
	background-image: url("/images/Kendall+Greg(TheStory)289.jpg");
	background-size: cover;
	/*opacity: .5;*/
	border: 10px solid #aecbb9;
	color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 40px;
}

.thanks {
	margin-top: 40px;
	margin-bottom: 40px;
	color: #aecbb9
}

#circle-img {
	margin-top: 75px;
}

.img-responsive {
	text-align: center;
}

.col-xs-12 {
	padding-bottom: 15px;
	text-align: center;
}

.navbar {
	border-radius: 0px;
}

.photo-div {
	margin-top: 40px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, 
.thumbnail a>img, .thumbnail>img {
	display: inline;
}


/*/////MEDIA QUERIES/////*/

@media only screen and (min-width: 1201px) {
	.img-thumbnail {
		height: 250px !important;
	}
	.story {
		padding: 100px;
		background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
		background-size: cover;
	}
	#long-img {
		display: none;
	}
	#circle-img {
		vertical-align: middle;
		text-align: center;
	}
	#long-banner {
		width: 500px !important;
	}
	#stacked-banner {
		display: none;
	}
	.navbar {
		min-height: 75px;
	}
	.navbar-nav {
		margin-top: 20px;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	.img-thumbnail {
		height: 200px !important;
	}
	.story {
		/*background-color: #c5a5a3;*/
	background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
	background-size: cover;
	padding: 50px;
	padding-left: 80px;
	padding-right: 80px;
	}
	.col-lg-8 {
	margin-bottom: 40px;
	text-align: center;
	}
	#long-img {
		display: none;
	}
	#circle-img {
		vertical-align: middle;
	}
	#long-banner {
		width: 500px !important;
	}
	#stacked-banner {
		display:none;
	}
	.navbar {
		min-height: 75px;
	}
	.navbar-nav {
		margin-top: 18px;
	}
}

@media only screen and (min-width: 869px) and (max-width: 999px) {
	.img-thumbnail {
		height: 160px !important;
	}
	.story {
		padding: 50px;
		background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
		background-size: cover;
	}
	#long-img {
		display: none;
	}
	#circle-img {
		vertical-align: middle;
		margin-top: 100px;
	}
	#long-banner {
		width: 400px !important;
	}
	#stacked-banner {
		display: none;
	}
	.navbar {
		min-height: 65px;
	}
	.navbar-nav {
		margin-top: 12px;
	}
}

@media only screen and (min-width: 768px) and (max-width: 868px) {
	.img-thumbnail {
		height: 235px !important;
	}
	.story {
		padding: 50px;
		background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
		background-size: cover;
	}
	#long-img {
		display: none;
	}
	#circle-img {
		vertical-align: middle;
	}
	#long-banner {
		width: 325px !important;
		margin-top: 4px;
	}
	#stacked-banner {
		display: none;
	}
	.navbar {
		min-height: 60px;
	}
	.navbar-nav {
		margin-top: 10px;
	}
}

@media only screen and (min-width: 641px) and (max-width: 767px) {
	.img-thumbnail {
		width: 575px !important;
	}
	.story {
		padding: 50px;
		background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
		background-size: cover;
	}
	#long-img {
		display: none;
	}
	#circle-img {
		vertical-align: middle;
	}
	#long-banner {
		width: 350px;
	}
	#stacked-banner {
		display: none;
	}
	.navbar {
		min-height: 50px;
	}
	.navbar-nav {
		margin-top: 5px;
	}
	.navbar-banner {
		height: 0px !important;
		width: 0px !important;
	}
	.navbar-toggle {
		margin-top: 10px;
	}
	.navbar-nav>li>a {
		line-height: 16px;
	}
	.navbar-default .navbar-nav .open .dropdown-menu>li>a {
	color: #2a8566;
	/*background-color: white;*/
	}
}

@media only screen and (min-width: 569px) and (max-width: 640px) {
	.img-thumbail {
		width: 425px !important;
	}
	.story {
		padding: 40px;
		background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
		background-size: cover;
	}
	#circle-img {
		display: none;
	}
	#long-img {
		/*padding: 30px;*/
		margin-top: 30px;
		vertical-align: middle;
	}
	#long-banner {
		width: 350px;
	}
	#stacked-banner {
		display: none;
	}
	.navbar {
		min-height: 50px;
	}
	.navbar-nav {
		margin-top: 5px;
	}
	.navbar-banner {
		height: 0px !important;
		width: 0px !important;
	}
	.navbar-toggle {
		margin-top: 10px;
	}
	.navbar-nav>li>a {
		line-height: 16px;
	}
}

@media only screen and (min-width: 481px) and (max-width: 568px) {
	.img-thumbnail {
		width: 425px !important;
	}
	.story {
	background-image: url("/images/Kendall+Greg(TheStory)289.jpg");
	background-size: cover;
	color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 40px;
	}
	#circle-img {
		display: none;
	}
	#long-img {
		/*padding: 30px;*/
		margin-top: 30px;
		vertical-align: middle;
	}
	#long-banner {
		width: 325px;
	}
	#stacked-banner {
		display: none;
	}
	.navbar {
		min-height: 50px;
	}
	.navbar-nav {
		margin-top: 5px;
	}
	.navbar-banner {
		height: 0px !important;
		width: 0px !important;
	}
	.navbar-toggle {
		margin-top: 10px;
	}
	.navbar-nav>li>a {
		line-height: 16px;
	}
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.img-thumbnail {
		width: 300px !important;
	}
	.story {
		background-image: url("/images/Kendall+Greg(TheStory)289.jpg");
		background-size: cover;
		padding: 40px;
	}
	#circle-img {
		display: none;
	}
	#long-img {
		vertical-align: middle;
		margin-top: 30px;
	}
	#long-banner {
		width: 280px;
	}
	#stacked-banner {
		display: none;
	}
	.navbar {
		min-height: 50px;
	}
	.navbar-nav {
		margin-top: 5px;
	}
	.navbar-banner {
		height: 0px !important;
		width: 0px !important;
	}
	.navbar-toggle {
		margin-top: 10px;
	}
	.navbar-nav>li>a {
		line-height: 16px;
	}
}

@media only screen and (max-width : 320px) {
	.img-thumbnail {
		width: 300px !important;
	}
	.story {
		background-image: url("/images/Kendall+Greg(TheStory)289.jpg");
		background-size: cover;
		padding: 40px;
		opacity: .3;
	}
	#circle-img {
		display: none;
	}
	#long-img {
		vertical-align: middle;
		margin-top: 50px;
	}
	#long-banner {
		width: 250px;
	}
	#stacked-banner {
		display: none;
	}
	.navbar {
		min-height: 50px;
	}
	.navbar-nav {
		margin-top: 5px;
	}
	.navbar-banner {
		height: 0px !important;
		width: 0px !important;
	}
	.navbar-toggle {
		margin-top: 10px;
	}
	.navbar-nav>li>a {
		line-height: 16px;
	}
}



