ul {
	list-style: none;
	-webkit-padding-start: 0px;
}

li {
	font-family: 'Work Sans', sans-serif;
	/*font-family: 'Open Sans Condensed', sans-serif;*/
	font-size: 15px;
	display: inline;
}


/*NAVBAR*/
.navbar-default .navbar-nav>li>a {
	color: #2a8566;
}

.dropdown-menu>li>a {
	color: #2a8566;
}

.navbar-default {
	background-color: #aecbb9;
	border-color: #2a8566;
}

.navbar-default .navbar-brand {
	color: #2a8566
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #aecbb9;
}

.dropdown-menu {
	background-color: #aecbb9;
}

.nav>li>a:focus, .nav>li>a:hover {
	background-color: white;
}

.navbar-nav>.open>a:hover {
	color: #2a8566;
	background-color: white;
}

.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, 
.navbar-default .navbar-nav>.open>a:hover {
	color: #2a8566;
	background-color: white;
}



.container {
	text-align: center;
}

h1 {
	text-align: left;
	font-family: 'Parisienne', cursive;
	font-size: 50px;
	color: #2a8566;
}

p {
	/*font-family: 'Merriweather', serif;*/
	font-family: 'Cardo', serif;
	/*font-family: 'EB Garamond', serif;*/
	font-size: 16px;
}

.title {
	margin-top: 40px;
	text-align: center;
	font-size: 50px;
}

.story {
	/*background-color: #c5a5a3;*/
	background-image: url("/images/Kendall+Greg(TheStory)289.jpg");
	background-size: cover;
	/*opacity: .5;*/
	border: 10px solid #aecbb9;
	color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 40px;
}

.thanks {
	margin-top: 40px;
	margin-bottom: 40px;
	color: #aecbb9
}

.img-responsive {
	text-align: center;
}

.col-xs-12 {
	padding-bottom: 15px;
	text-align: center;
}

.navbar-brand {
	/*font-family: 'Parisienne', cursive;*/
}

.photo-div {
	margin-top: 40px;
}

.carousel-inner>.item>a>img, .carousel-inner>.item>img, .img-responsive, 
.thumbnail a>img, .thumbnail>img {
	display: inline;
}


/*/////MEDIA QUERIES/////*/

@media only screen and (min-width: 1201px) {
	.img-thumbnail {
		height: 250px !important;
	}
	.story {
		padding: 100px;
		background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
		background-size: cover;
	}
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
	.img-thumbnail {
		height: 200px !important;
	}
	.story {
		/*background-color: #c5a5a3;*/
	background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
	background-size: cover;
	padding: 50px;
	padding-left: 80px;
	padding-right: 80px;
	}
	.col-lg-8 {
	margin-bottom: 40px;
	text-align: center;
	}
}

@media only screen and (min-width: 869px) and (max-width: 999px) {
	.img-thumbnail {
		height: 160px !important;
	}
	.story {
		padding: 50px;
		background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
		background-size: cover;
	}
}

@media only screen and (min-width: 769px) and (max-width: 868px) {
	.img-thumbnail {
		height: 235px !important;
	}
	.story {
		padding: 50px;
		background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
		background-size: cover;
	}
}

@media only screen and (min-width: 641px) and (max-width: 768px) {
	.img-thumbnail {
		width: 575px !important;
	}
	.story {
		padding: 50px;
		background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
		background-size: cover;
	}
}

@media only screen and (min-width: 569px) and (max-width: 640px) {
	.img-thumbail {
		width: 425px !important;
	}
	.story {
		padding: 40px;
		background-image: url("/images/Kendall+Greg(TheStory)298.jpg");
		background-size: cover;
	}
}

@media only screen and (min-width: 481px) and (max-width: 568px) {
	.img-thumbnail {
		width: 425px !important;
	}
	.story {
	background-image: url("/images/Kendall+Greg(TheStory)289.jpg");
	background-size: cover;
	color: white;
	margin-top: 40px;
	margin-bottom: 40px;
	padding: 40px;
}

@media only screen and (min-width: 320px) and (max-width: 480px) {
	.img-thumbnail {
		width: 300px !important;
	}
	.story {
		background-image: url("/images/Kendall+Greg(TheStory)289.jpg");
		background-size: cover;
		padding: 40px;
	}
}

@media only screen and (max-width : 320px) {
	.img-thumbnail {
		width: 300px !important;
	}
	.story {
		background-image: url("/images/Kendall+Greg(TheStory)289.jpg");
		background-size: cover;
		padding: 40px;
		opacity: .3;
	}
}



