<div class="container">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
		<h1 class="title">Our Story</h1>
		<div class="story">
			<p>Our story began in 2013: we met at work and were immediately drawn to each other like magnets. We embarked on a friendship and found it so easy to go deep with each other, relax together, and laugh together. After a short time, our friendship caught fire and turned into a great love.</p> 
			<br>
			<p>We chose to have a tiny, intimate wedding with just immediate family and our two closest friends in order to keep the focus on the sacredness of our choice to commit to each other forever. We are each other's best friend, confidant, and biggest fan, and we are so excited to move forward in life together as husband and wife, as partners.</p>
		</div>
	</div>
</div>