<div class="container">
	<div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-8 col-md-offset-2">
		<h1 class="title">Our Thanks</h1>
		<div class="thanks">
			<p>Our wedding would not have been possible without the contributions of the following individuals and businesses. We are so grateful for the beauty they brought to our day.</p>
		</div>
	</div>
			<div class="col-xs-12 col-sm-6 col-md-6">
				<a href="http://hotelsorrento.com"><img src="images/first-look.jpg" class="img-responsive"></a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6">
				<a href="http://columbiacitybouquet.com"><img src="images/florals.jpg" class="img-responsive"></a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6">
				<a href="http://withinsodo.com"><img src="images/venue.jpg" class="img-responsive"></a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6">
				<a href="http://kristenmarieparker.com"><img src="images/photography2.jpg" class="img-responsive"></a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6">
				<img src="images/catering.jpg" class="img-responsive">
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6">
				<a href="http://chelseymatley.com"><img src="images/makeup2.jpg" class="img-responsive"></a>
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6">
				<img src="images/officiant.jpg" class="img-responsive">
			</div>

			<div class="col-xs-12 col-sm-6 col-md-6">
				<a href="http://morfeyscake.com"><img src="images/cake.jpg" class="img-responsive"></a>
			</div>
		</div>
	<!-- </div> -->
</div>